.custom-form {
  border: 1px solid #132644;
}

#btn-addbook-submit {
  width: 60px;
  height: 60px;
  left: 94vw;
  bottom: 1vh;
}

.collapse-link:link {
  text-decoration: none;
  color: #132644;
}

.collapse-link:visited {
  text-decoration: none;
  color: #132644;
}

.collapse-link:hover {
  text-decoration: none;
  color: #132644;
}

.collapse-link:active {
  text-decoration: none;
  color: #132644;
}

#genero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: calc(20px * 10 + 4rem);
}

#genero {
  div {
    flex: 1 0 20px;
    max-width: 31%;
    height: 20px;
    margin-bottom: 1rem;
  }
}