//THUMB ITEM STYLE

.product-entry {
    margin-bottom: 40px;
    width: 220px;
    margin-top: 1rem;
}

.product-img {
    background-size: Auto 100%;
    background-repeat: no-repeat;
    display: block;
    height: 250px;
    margin-bottom: 20px;
    position: relative;
}

.product-img .tag {
    position: absolute;
    top: 10px;
    left: 10px;
}

.product-img .tag .new {
    font-size: 11px;
    background: #4aca85;
    color: #fff;
    padding: .3em .5em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.product-img .tag .sale {
    font-size: 11px;
    background: #798eea;
    color: #fff;
    padding: .3em .5em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.product-entry a {
    text-decoration: none;
}

.product-entry .desc h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    color: #000;
}

.product-entry .desc .price span {
    //    color: #4aca85;
    color: #170ea0;
    font-weight: 500;
}

.product-entry .desc .price .sale {
    color: gray;
    text-decoration: line-through;
    font-weight: 300;
}

//rgb(64, 65, 141)

@media only screen and (max-width: 992px) {}

//FIM THUMB ITEM STYLE
/*---------------------*/
//FULL ITEM STYLE
.product-entry-full {
    position: absolute;
    width: 275px;
    margin-top: 0.4rem;
}

.product-img-full {
    background-size: Auto 100%;
    background-repeat: no-repeat;
    display: block;
    height: 325px;
    margin-bottom: 20px;
    position: relative;
}

.price-row {
    width: 100%;
    margin-bottom: 10px;
}

.price-box {
    border: 2px solid black;
    width: 100%;
    padding: 0.5rem 0 0.5rem 1rem;
}

.price-box p {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 6px;
}

.price-box .old-price {
    color: red;
    text-decoration: line-through;
    margin-bottom: 0;
}

.content-divider {
    margin-left: 19rem;
    border-left: 2px solid rgb(218, 216, 216);
    height: 100%;
}

.details-container {
    margin-left: 1rem;
}

.horizontal-divider {
    border-bottom: 2px solid rgb(218, 216, 216);
    margin: 2rem 0;
}

.details-row p strong {
    font-size: 1.1rem;
}