.product-entry-thumb {
  margin: 1rem 0 40px 0;
  width: 100%;
}

.product-entry-thumb .product-img {
  background-size: Auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  margin-bottom: 10px;
  position: relative;
}

.product-entry-thumb .product-img .tag {
  position: absolute;
  top: 10px;
  left: 10px;
}

.product-entry-thumb .product-img .tag .new {
  font-size: 11px;
  background: #4aca85;
  color: #fff;
  padding: .3em .5em;
  border-radius: 2px;
}

.product-entry-thumb .product-img .tag .sale {
  font-size: 11px;
  background: #798eea;
  color: #fff;
  padding: .3em .5em;
  border-radius: 2px;
}

.product-entry-thumb a {
  text-decoration: none;
}

.product-entry-thumb .desc .h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #000;
}

.product-entry-thumb .desc .price span {
  color: #170ea0;
  font-weight: 500;
}

.product-entry-thumb .desc .price .sale {
  color: gray;
  text-decoration: line-through;
  font-weight: 300;
}

/*---------------------*/
.product-entry-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  height: 8rem;
  margin-top: 1rem;
}

.product-entry-list .product-img {
  background-size: Auto 100%;
  background-repeat: no-repeat;
  width: 110px;
  height: 100%;
  margin-bottom: 20px;
  position: relative;
}

.product-entry-list a {
  text-decoration: none;
}

.product-entry-list .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  margin-right: 3rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .product-entry-list .desc {
    margin-right: 0;
  }
}

.product-entry-list .desc h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000;
}

.product-entry-list .desc h3 {
  font-size: 14px;
  margin-bottom: 0;
  color: #000;
}

.product-entry-list .desc .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  width: 100%;
}

.product-entry-list .desc .price p {
  color: #170ea0;
  font-weight: 500;
  margin-bottom: 0;
}

.product-entry-list .desc .price .cart-button {
  margin-left: auto;
}

.product-entry-list .desc .price .cart-button .add-cart {
  height: 100%;
}

.product-entry-list .desc .price .sale {
  color: gray;
  text-decoration: line-through;
  font-weight: 300;
}

/*---------------------*/
.product-entry-full {
  position: absolute;
  width: 275px;
  margin-top: 0.4rem;
}

.product-entry-full .product-img-full {
  background-size: Auto 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 325px;
  margin-bottom: 20px;
  position: relative;
}

.product-entry-full .price-row {
  width: 100%;
  margin-bottom: 10px;
}

.product-entry-full .price-row .price-box {
  border: 2px solid black;
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
}

.product-entry-full .price-row p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.product-entry-full .price-row .old-price {
  color: red;
  text-decoration: line-through;
  margin-bottom: 0;
}

.product-entry-full .cart-button {
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
}

.product-entry-full .cart-button button {
  width: 100%;
  height: 100%;
  font-size: larger;
}

.content-divider {
  margin-left: 19rem;
  border-left: 2px solid #dad8d8;
  height: 100%;
}

.content-divider .details-container {
  margin-left: 1rem;
}

.content-divider .details-container .horizontal-divider {
  border-bottom: 2px solid #dad8d8;
  margin: 2rem 0;
}

.content-divider .details-container .details-row p strong {
  font-size: 1.1rem;
}
/*# sourceMappingURL=items.css.map */