:root {
  --primaryColor: #f09d51;
}

.btn-container {
  margin-left: 2rem;
  margin-right: auto;
}

@media (min-width: 320px) and (max-width: 768px) {
  .btn-container {
    margin: 2% 0 2% 0;
    width: 100%;
  }
}

.btn-container .menu-btn {
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .btn-container .menu-btn {
    width: 100%;
  }
}

.btn-container .menu-btn span {
  font-size: 1.5rem;
}

.nav-item-three input {
  width: 40rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .nav-item-three input {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav .nav-item-one {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  nav .nav-item-two {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  nav .nav-item-three {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  nav .nav-item-four {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .login-btn-container {
    margin-bottom: 2%;
  }
  #cabecalho-text {
    display: none;
  }
  .item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80vh;
    overflow: auto;
  }
  .product-entry-full {
    position: relative;
  }
  .content-divider {
    margin: 0;
    border-left: 0;
    height: 0;
  }
  .description-row {
    display: none;
  }
  footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70px;
            flex: 0 1 70px;
  }
}

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

@media (min-width: 768px) {
  .cart-overlay .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.cart-overlay .cart .close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart-overlay .cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(0.1rem);
  margin-bottom: 2rem;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #e7e2dd;
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.showCart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

.cart-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: var(--primaryColor);
  color: #191919;
  border: 1px solid var(--primaryColor);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.cart-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
/*---------- Cart Item -------------------- */
.cart-content .cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-content .cart-item img {
  width: 75px;
  height: 75px;
}

.cart-content .cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-content .cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.cart-content .cart-item .remove-item {
  color: grey;
  cursor: pointer;
}

.cart-content .cart-item .item-amount {
  text-align: center;
}

.cart-content .cart-item .fa-chevron-up,
.cart-content .cart-item .fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}

/*---------- End of Cart Item -------------------- */
/*# sourceMappingURL=public.css.map */