@import 'conf';
@import '_include-media';

:root {
  --primaryColor: #f09d51;
}

.btn-container {
  margin-left: 2rem;
  margin-right: auto;

  @include media('>=phone', '<=tablet') {
    margin: 2% 0 2% 0;
    width: 100%;
  }

  .menu-btn {
    text-decoration: none;

    @include media('>=phone', '<=tablet') {
      width: 100%;
    }

    span {
      font-size: 1.5rem;
    }
  }
}

.nav-item-three {
  input {
    width: 40rem;

    @include media('>=phone', '<=tablet') {
      width: 100%;
    }
  }
}

@include media('>=phone', '<=tablet') {

  //HEADER
  nav {
    display: flex;
    flex-wrap: wrap;

    .nav-item-one {
      order: 1;
    }

    .nav-item-two {
      order: 3;
    }

    .nav-item-three {
      order: 4;
    }

    .nav-item-four {
      order: 2;
    }
  }

  .login-btn-container {
    margin-bottom: 2%;
  }

  //END OF HEADER

  #cabecalho-text {
    display: none;
  }

  //CONTENT
  .item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    overflow: auto;
  }

  .product-entry-full {
    position: relative;
  }

  .content-divider {
    margin: 0;
    border-left: 0;
    height: 0;
  }

  .description-row {
    display: none;
  }

  footer {
    flex: 0 1 70px;
  }
}

/* --------------- Cart ---------------- */
.cart-overlay {
  @include posFixed(0, 0, false, false);
  @include size(100%, 100%);
  transition: $transition;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;

  .cart {
    @include media('>=tablet') {
      width: 30vw;
      min-width: 450px;
    }

    .close-cart {
      font-size: 1.7rem;
      cursor: pointer;
    }

    h2 {
      text-transform: capitalize;
      text-align: center;
      letter-spacing: var(--$spacing);
      margin-bottom: 2rem;
    }
  }
}

.cart {
  @include posFixed(0, 0, false, false);
  @include size(100%, 100%);
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: $transition;
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

.cart-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: $spacing;
  font-size: 1rem;
  background: var(--primaryColor);
  color: $color_black;
  border: 1px solid var(--primaryColor);
  transition: $transition;
  cursor: pointer;
}

.cart-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: $spacing;
  text-align: center;

  h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
}

/* --------------- End of Cart ---------------- */

/*---------- Cart Item -------------------- */
.cart-content {
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;

    img {
      @include size(75px, 75px);
    }

    h4 {
      font-size: 0.85rem;
      text-transform: capitalize;
      letter-spacing: $spacing;
    }

    h5 {
      margin: 0.5rem 0;
      letter-spacing: $spacing;
    }

    .remove-item {
      color: grey;
      cursor: pointer;
    }

    .item-amount {
      text-align: center;
    }

    .fa-chevron-up,
    .fa-chevron-down {
      color: var(--primaryColor);
      cursor: pointer;
    }
  }
}

/*---------- End of Cart Item -------------------- */