@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'conf';

html,
body {
    height: 100%;
    margin: 0;
}

.txt-small {
    font-size: small;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

.main-container {
    @include flex(column);
    height: 100%;
    padding: 0;
}

//HEADER STYLE
.header {
    //Header container
    background-color: #f8f9fa;
    border-bottom: 2px solid $color_main_background;
    flex: 0 1 auto;

    .nav-item-one {
        img {
            //Logo
            width: 200px;
        }
    }
}

//END HEADER STYLE

/*---------------------*/

//MAIN STYLE
#cabecalho {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #f8f9fa;

    #filtro-adv {
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 0.5rem;
    }
}

.item-container {
    background-color: $color_main_background;
    padding: 1rem;
    flex: 1 1 auto;
}

//END OF MAIN STYLE

//FOOTER STYLE
footer {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 70px;
}

//SIDEBAR STYLE
#sidebar-container {
    min-height: 100vh;
    background-color: $color_sidenav_background;
    padding: 0;

    .list-group {
        a {
            height: 50px;
            color: white;

            .bg-dark {
                background-color: $color_sidenav_background !important;
            }
        }

        li {
            .list-group-item {
                background-color: $color_sidenav_background;
            }
        }

        .sidebar-submenu {
            font-size: 0.9rem;

            a {
                height: 45px;
                padding-left: 30px;
            }

            .sidebar-separator-title {
                background-color: $color_sidenav_background;
                height: 35px;
            }

            .sidebar-separator {
                background-color: $color_sidenav_background;
                height: 25px;
            }
        }
    }
}

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 100px;
}

//END OF SIDEBAR STYLE